.form__buttons {
  display: flex;
  column-gap: 1em;

/*   button {
    svg {
      polygon {
        fill: $primary-turquoise;
      }
    }
  }

  button:hover {
    svg {
      polygon {
        fill: $secondary-cyclamen;
      }
    }
  } */
}