button {
  background-color: $primary-turquoise;
  border-radius: .2em;
  border: 2px solid transparent;
  margin: .5em 0;
  padding: .5em;
  font-family: $font-code;
  font-weight: 700;
  font-size: 1.4em;
  color: $primary-turquoise-dark;
  text-transform: uppercase;
  letter-spacing: .2em;
  transition: all .3s ease;
  cursor: pointer;
}

button:hover {
  //background-color: $blue-main;
  background: radial-gradient($primary-turquoise, $secondary-cyclamen-light);
  color: $secondary-cyclamen-dark;
  //border: 2px solid $blue-darker;
}