button {
  background: $primary-turquoise;
  border-radius: .2em;
  border: 1px solid transparent;
  margin: .5em 0;
  padding: .5em;
  font-family: $font-code;
  font-weight: 700;
  font-size: 1.4em;
  color: $primary-turquoise-dark;
  text-transform: uppercase;
  letter-spacing: .2em;
  justify-self: center;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(219, 17, 226,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(219, 17, 226,0.75);
  box-shadow: 0px 0px 3px 1px rgba(219, 17, 226,0.75);
  transition: all .4s ease-in-out;
  cursor: pointer;

  svg {
    polygon {
      fill: $primary-turquoise;
      transition: all .3s ease-in-out;
    }
  }
}

button:hover {
  //background-color: $blue-main;
  background: radial-gradient($primary-turquoise, $secondary-cyclamen-light);
  color: $secondary-cyclamen-dark;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(81,203,233,0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(81,203,233,0.75);
  box-shadow: 0px 0px 0px 0px rgba(81,203,233,0.75);
  //border: 2px solid $primary-turquoise-dark;

  svg {
    polygon {
      fill: $secondary-cyclamen;
    }
  }
}