.cart {
  display: inline-block;
  position: relative;
  margin-right: 1em;

  h1 {
    background-color: $primary-turquoise;
    width: fit-content;
    border-radius: 50%;
    border: 1px solid $primary-turquoise-dark;
    margin-bottom: -.9em;
    margin-left: .3em;
    padding: .2em .7em;
    color: $secondary-cyclamen;
  }

  .cart__content{

    svg {

      cursor: pointer;

      path, circle {
        transition: all .4s ease-in-out;
        fill: $primary-turquoise-dark;
      }

      .svg_body {
        transition: all .4s ease-in-out;
        fill: $secondary-cyclamen;
      }
    }

    h1 {
      transition: all .4s ease-in-out;
    }
  }

  .cart__content:hover {

    svg {

      path, circle {
        fill: $secondary-cyclamen;
      }

      .svg_body {
        fill: $primary-turquoise-dark;
      }
    }

    h1 {
      color: $primary-turquoise-dark;
      border: 1px solid $secondary-cyclamen;
    }
  }

  .dropbtn {
    color: white;
    border: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 20em; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: .2em;
    z-index: 1;
    width: fit-content;
    transition: all .8s ease-in-out;

    h3 {
      border-top: 1px solid $primary-turquoise;
      color: $secondary-cyclamen;
      font-size: 1.5em;
      letter-spacing: .1em;
    }

    li {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      justify-items: left;
      grid-gap: .5em;
      border-top: 1px solid $primary-turquoise;
      padding: 12px 16px;
      color: black;
      text-decoration: none;
      text-align: left;
      
      h3 {
        border-top: none;
        color: $primary-turquoise-dark;
        font-size: 1em;
      }
    
      .shoe__small {
        grid-area: 1 / 1 / 3 / 2;
        width: 4em;
      }

      .item__qtu {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        justify-self: stretch;

        .qtu__arrows {
          display: grid;
          margin-right: .5em;
        }

        h3 {
          font-size: 1em;
          color: $secondary-cyclamen;
        }

        svg {
          cursor: pointer;
        }

        .del__btn {
          justify-self: right;
        }
      }
    }
    
    li:hover {background-color: #f1f1f1;}
  }
}

.cart:hover .dropdown-content, .cart:active .dropdown-content {
  display: block;
}

@media only screen and (max-width: 599px) {
  .cart {
    svg {
      width: 40px;
    }  
    h1 {
      margin-bottom: -.8em;
      margin-left: .3em;
      padding: .1em .5em;
    }
  }
}