footer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5em;
  border-top: 1px solid $primary-turquoise-dark; 
  margin-top: 1em;
  padding: .5em;
  font-weight: 600;
  color: $primary-turquoise-dark;

  a {
    cursor: pointer;

    svg {
      path {
        transition: all .4s ease-in-out;
        fill: $primary-turquoise-dark;
      }
    }
    
    svg:hover {
      path {
        fill: $primary-turquoise;
      }
    }
  }
}