label {
  margin:20px 0 0 0;
  position:relative;
  display:inline-block;
}

label > span {
  padding: 10px 20px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  //opacity: 0.5;
}

input, textarea {
  padding: 10px;
  //background: $primary-turquoise;
  border: 2px solid $primary-turquoise;
  border-radius: .2em;
  font-family: $font-code;
  font-size: 1.2em;
  min-width: 17em;
  //border: 2px solid transparent;
}

textarea:not(:placeholder-shown) + span {
  transform: scale(0.9) translateY(-100%) translateX(-15px);
  color: $primary-turquoise-dark;
}

input:hover, textarea:hover {
  border: 2px solid $primary-turquoise-dark;
}

input:focus, textarea:focus {
  background: $light-color;
  border: 2px solid $primary-turquoise-dark;
  box-shadow: 0px 0px 2px $primary-turquoise-dark inset;
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;
  color: $primary-turquoise-dark;
  transform: scale(0.9) translateY(-100%) translateX(-15px);
}

/* For IE Browsers*/
input:focus + span, input:not(:-ms-input-placeholder) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

textarea:focus + span, textarea:not(:placeholder-shown) ~ .inner + span {
  opacity: 1;
  color: $primary-turquoise-dark;
  transform: scale(0.9) translateY(-100%) translateX(-15px);
}

/* For IE Browsers*/
textarea:focus + span, textarea:not(:-ms-input-placeholder) ~ .inner + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

select {
  border: 2px solid $primary-turquoise;
  border-radius: .3em;
  font-family: $font-code;
  font-size: 1.2em;
  padding: 10px;

  option {
    font-family: inherit;
  }
}

select:hover {
  border: 2px solid $primary-turquoise-dark;
}