.list__container {
  display: grid;
}

  .list {
    display: grid;
    justify-content: center;
    grid-row-gap: 1em;
    border-bottom: 1px solid $primary-turquoise;

    li {
  /*     display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1em;
      padding: 1em;
      border-top: 1px solid $primary-turquoise;
      transition: all .3s ease-in-out; */


      display: grid;
      grid-template-columns: 1fr auto auto;
      //justify-content: space-between;
      align-items: center;
      grid-gap: 1em;
      padding: 1em;
      border-top: 1px solid $primary-turquoise;
      transition: all .3s ease-in-out;
      
      .list__item {
        display: grid;
        grid-template-columns: auto 2fr 1fr 1fr;
        align-items: center;
        justify-items: left;
        grid-gap: 1em;
        cursor: pointer;

        img {
          transition: all .3s ease-in-out;
        }
      }

  /*     svg {
        cursor: pointer;

        polygon {
          fill: $primary-turquoise;
        }
      }

      svg:hover {
        polygon {
          fill: $secondary-cyclamen;
        }
      } */
    }
    li:nth-child(even) {
      color: $primary-turquoise;
    }
    li:hover {
      color: $secondary-cyclamen;
      img {
        transform: scale(1.3);
      }
    }
  }