nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $primary-turquoise;
  //border-bottom: 1px solid $blue-light;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(42, 100, 177,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(42, 100, 177,0.75);
  box-shadow: 0px 0px 2px 0px rgba(42, 100, 177,0.75);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 6em;

  .brand {
    margin-left: 1em;
    display: flex;
    align-items: center;
    column-gap: 1em;
    
    svg {
      cursor: pointer;
    }

    h1 {
      font-size: 2.5em;
      font-weight: 800;
      //letter-spacing: .1em;
      text-transform: uppercase;
      color: $secondary-cyclamen;
    }
  }

  .nav__links {
    font-size: 1.5em;
    color: $primary-turquoise;
    font-weight: 800;

    a {
      font-weight: bold;
      color: $primary-turquoise-dark;
      margin-right: 1em;
      transition: all .3s ease-in-out;
  
      &.router-link-exact-active {
        color: $secondary-cyclamen;
      }
    }

    a:hover {
      color: $secondary-cyclamen-light;
    }
  }
}

@media only screen and (max-width: 599px) {
  nav {
    height: 5em;
    .brand {
      svg {
        width: 70px;
      }

      h1 {
        font-size: 1.5em !important;
      }
    }
    .nav__links {
      font-size: 1em;
    }
  }
}