.orders__list {
  margin: 0 auto;
  margin-top: 1em;
  width: 80%;

  .order__items {
    
    .order__item {
      margin-bottom: 2em;

      .order__header {
        //background-color: $primary-turquoise;
        color: $primary-turquoise-dark;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        font-size: 1.2em;
        letter-spacing: .1em;
        padding: .5em 0;

        h3 {
          font-weight: 600;
        }
      }

      ul {

        li {
          display: grid;
          grid-template-columns: repeat(5,1fr);
          grid-template-rows: 1fr;
          justify-items: center;
          align-items: center;
          padding: .1em;

          .item__title {
            justify-self: left;
          }

          .shoe__small {
            width: 4em;
          }

          p {
            font-size: 1.1em;
            text-align: left;
            //font-weight: 600;
          }
        }

        .items__header {
          background-color: $primary-turquoise;
          color: $primary-turquoise-dark;
          font-size: 1em;
          border-radius: .5em;
          //border-top: 1px solid $primary-turquoise-dark;

          h4 {
            font-weight: 600;
          }
        }
      }

      .order__totals {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        //background-color: $primary-turquoise;
        color: $secondary-cyclamen;
        margin-bottom: .5em;
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
        border-top: 1px solid #51cbe9;

        .qtu__total {
          grid-area: 1 / 3 / 2 / 4;
        }

        .amount__total {
          grid-area: 1 / 5 / 2 / 6;
        }

        h3 {
          font-weight: 600;
        }

      }
      
    }
  }
}