.shoe__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
  justify-content: center;
  justify-items: center;

  .shoe__list_item {
    //display: flex;
    background-color: #ffffff;
    color: #ffffff;
    border-radius: .2em;
    border: 1px solid black;
    padding: 5em 5em 1em 5em;
    //background: radial-gradient(#e66465, #9198e5);
    
    h3 {
      color: $blue-main;
      margin: 1em;
    }

    p {
      color: $blue-darkest;
      visibility: hidden;
      transition: all .3s ease;
    }

    .shoe__logo {
      display: block;
      border-radius: .2em;
      transform: rotate(7deg);
      transition: all .3s ease-in-out;
      width: 100%;
      height: 20em;
      margin-bottom: 3em;
    }
  
  }

  .shoe__list_item:hover {
    z-index: 9;

    .shoe__logo {
      transform: rotate(0) scale(1.3);
    }

    p {
      visibility: visible;
    }
  }
}