/* Colors */
$light-color: #e1f1f8;
$primary-color:  #2c3e50;
//$primary-color: #a7ceee;
$secondary-color: #3679dd;
$tertiary-color:  #dba81a;

$blue-lightest: #e3edfa;
//$blue-lighter: #c8ddf8;
$blue-light: #9fc4f5;
$blue-main: #5e9df0;
//$blue-dark: #2a64b1;
//$blue-darker: #204a81;
//$blue-darkest: #1a2533;

$orange-lightest:  #f7efda;
$orange-lighter:  #f8d676;
$orange-light:  #eec34c;
//$orange-main:  #dba81a;
//$orange-dark:  #bb9107;



$primary-turquoise:        #51cbe9;
$primary-turquoise-dark:   #235966;

$secondary-cyclamen-light: #e36ce7;
$secondary-cyclamen:       #db11e2;
$secondary-cyclamen-dark:  #840888;