/* Colors */
$light-color: #cbe7ee;
$primary-color:  #112b31;
$secondary-color: #bc0cc2;
$tertiary-color:  #57d8f8;

$primary-turquoise:        #51cbe9;
$primary-turquoise-dark:   #235966;

$secondary-cyclamen-light: #e36ce7;
$secondary-cyclamen:       #db11e2;
$secondary-cyclamen-dark:  #840888;


/*$blue-grey-darker: #8a9cad;
$blue-grey-dark: #a5b1be;
$blue-grey: #c7d4e0;
$blue-grey-light: #bad1e7;
$blue-grey-lighter: #d1e9ff; */

$blue-grey-darkest: #1e242b;
$blue-grey-darker: #2a3846;
$blue-grey-dark: #4b6077;
$blue-grey: #6d869d;
$blue-grey-light: #70baff;
$blue-grey-lighter: #a5d2fd;