/* Colors */
$light-color: #cbe7ee;
$primary-color:  #112b31;
$secondary-color: #bc0cc2;
$tertiary-color:  #57d8f8;

$primary-turquoise:        #51cbe9;
$primary-turquoise-dark:   #235966;

$secondary-cyclamen-light: #e36ce7;
$secondary-cyclamen:       #db11e2;
$secondary-cyclamen-dark:  #840888;